<html>

  <head>
    <title>8Bit Text</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
    <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>

  <body>
   <div class="section">
     <div class="container">
       <div class="row"></div>
     </div>
   </div>
   <div class="section">
     <div class="container">
       <div class="row">
         <div class="col-md-8">
           <img src="static/images/design/8bits.jpg"
           class="img-responsive">
         </div>
         <div class="col-md-4">
           <div class="col-md-12">
             <form action="upload" method="post" enctype="multipart/form-data" role="form">
                   <input type="hidden" name="design"  value="8bits">
               <div class="form-group">
                 <label class="control-label" for="exampleInputEmail1">Custom Text</label>
                 <input class="form-control" name="custom_text_1" placeholder="Enter Text"
                 type="text">
               </div>
               <button type="submit" class="btn btn-default">Submit</button>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>
 </body>

</html>
