<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Customize! SCAD Files</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a href="8bit"><img src="/static/images/design/8bits.jpg" class="img-responsive"></a>
            <h3>8Bit KeyChain</h3>
            <p>Enter one string</p>
          </div>
          <div class="col-md-4">
            <a href="va_1"><img src="/static/images/design/VA_1.jpg" class="img-responsive"></a>
            <h2>2 Letter Valentine</h2>
            <p>Enter two letters
              <br>
            </p>
          </div>
          <div class="col-md-4">
            <a href="wordsclp"><img src="/static/images/design/CT_1.jpg" class="img-responsive"></a>
            <h2>4 Letter Sculpture</h2>
            <p>Enter four letters</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a href="keytag1"><img src="/static/images/design/keytag1.jpg" class="img-responsive"></a>
            <h3>Simple Keychain</h3>
            <p>Enter one String</p>
          </div>
          <div class="col-md-4">
            <a><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
            <h3>more soon</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
          </div>
          <div class="col-md-4">
            <a><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
            <h2>more soon
              <br>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
