
<html>

<head>
  <title>4 Letter Word Sculpture</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
  <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="section">
    <div class="container">
      <div class="row"></div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <img src="static/images/design/CT_1.jpg" class="img-responsive">
        </div>
        <div class="col-md-4">
          <div class="col-md-12">
            <form action="upload" method="post" enctype="multipart/form-data" role="form">
              <input type="hidden" name="design" value="wordsclp">
              Enter lower cap letters

              <div class="form-group">
                <label class="control-label">Letter 1</label>
                <input class="form-control" name="custom_text_1" placeholder="Letter_1" type="text">
              </div>

              <div class="form-group">
                <label class="control-label">Letter 2</label>
                <input class="form-control" name="custom_text_2" placeholder="Letter_2" type="text">
              </div>

              <div class="form-group">
                <label class="control-label">Letter 3</label>
                <input class="form-control" name="custom_text_3" placeholder="Letter_3" type="text">
              </div>

              <div class="form-group">
                <label class="control-label">Letter 4</label>
                <input class="form-control" name="custom_text_4" placeholder="Letter_4" type="text">
              </div>

              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
